In [7]:
import pandas as pd

code_df=pd.read_html('http://kind.krx.co.kr/corpgeneral/corpList.do?method=download&searchType=13',header=0)[0]
# print(type(code_df))
# print(code_df.head())

# # 종목코드가 6자리이기 때문에 6자리를 맞춰주기 위해 설정해줌
code_df.종목코드=code_df.종목코드.map('{:06d}'.format)
code_df=code_df[['회사명','종목코드']]
code_df=code_df.rename(columns={'회사명':'name','종목코드':'code'})
code_df.head()

        name    code
0        DSR  155660
1         GS  078930
2      GS글로벌  001250
3  HDC현대산업개발  294870
4      LG이노텍  011070

0                 1       2   3
0 NaN          »ï¼ºÀüÀÚ   51500 NaN
1 NaN            ÇÑÁøÄ®  110500 NaN
2 NaN          ±¹ÀÏÁ¦Áö    6860 NaN
3 NaN          ´ëÇÑÇ×°ø   21400 NaN
4 NaN  »ï¼º¹ÙÀÌ¿À·ÎÁ÷½º  559000 NaN